/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
    margin-top: 10px;
	background-color: #76fff5;	
    text-align:center;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Courier New', Courier, monospace;

}
.header{
    margin: auto;
    
}
.titolo{
    margin-left: 20px;
    color:blue;
    text-transform: uppercase;
    font-size: 20px;
}
.logoImg{
    width: 40px;
}
.login{
    margin-left: 10%;
    text-align: right;
}
.loginButton{
    background-color: blue;
    color:white;
    border-radius: 13px;
    font-size: 20px;
    padding: 5px 13px 5px 13px;
}
.createButton{
    background-color: blue;
    color:white;
    border-radius: 13px;
    font-size: 20px;
    padding: 5px 13px 5px 13px;
}

.createButtonLink{
    color: white;
}

input{
    width: 50%;
    height: 35px;
    border-radius: 10em;
    text-align: center;
    padding-top: 9px;
    margin-top: 5px;
    font-size: 20px;
    color: blue;

}

.radio{
    width: 70px;
    height: 25px;
    border-radius: 10em;
    text-align: center;
    font-size: 20px;
    color: blue;
    margin-left: 40px;

}
.listTags{
    margin: auto;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    max-width: 600px;
}
.tagButton{
    color: blue;
    background-color:white;
    border-radius: 15px;
    padding: 7px;
    font-size: 15px;
    margin: 4px 5px;
}
.event{
    margin: auto;
    margin-top: 20px;
    background-color: white;
    width: 60%;
    border-radius: 20px;
    padding: 10px;
    text-align: left;
    border-style: dotted;
    border-width: 6px;
    border-color:blue;
}
.event div{
    margin: 12px;
    margin-bottom: 20px;

}
.eventFooter{
    margin: 10px;
    padding-top: 10px;

}
.eventTagsZone{
    max-width: 200px;
    background-color: #76fff5;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top:10px;
    color: blue;
    max-width: 200px;
}
.eventTagsZoneTag{
    background-color: white;
    margin: 4px;
    padding: 4px;
    border-radius: 8px;
    color: blue;
}
.eventPrenote{
    margin-left: 40%;
    text-align: right;
}
.eventPrenoteButton{
    margin-top: 30px;
    background-color: blue;
    color:white;
    border-radius: 13px;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}
.eventPrenoteButton a{
    color: white;
}




.layout{
    margin-top: 100px;
}
.layout div{
    margin-top: 20px;
    margin-bottom: 20px;
}
.accountNameText{
    font-size: 25px;
}
.accountNameInput{
    padding-top: 14px;
}
.loginButtonLog{
    background-color: blue;
    color:white;
    border-radius: 13px;
    font-size: 20px;
    padding: 5px 13px 5px 13px;
    width: 100px;
    margin: auto;
    margin-top: 10px;
}
.loginButtonReg{
    background-color: blue;
    color:white;
    border-radius: 13px;
    font-size: 20px;
    padding: 5px 13px 5px 13px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
}
hr {
  display: block;
  width: 500px;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: blue;
}
.accountNameText{
    font-size: 25px;
    color: blue;
}
.accountPasswordText{
    font-size: 25px;
    color: blue;
}
.accountEmailText{
    font-size: 25px;
    color: blue;
}
.accountRoleText{
    font-size: 25px;
    color: blue;
}
.accountRoleSco{
    background-color: blue;
    color:white;
    border-radius: 13px;
    font-size: 20px;
    padding: 5px 13px 5px 13px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
}
.accountRoleUni{
    background-color: blue;
    color:white;
    border-radius: 13px;
    font-size: 20px;
    padding: 5px 13px 5px 13px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
}
.loginButtonCreate{
    background-color: blue;
    color:white;
    border-radius: 13px;
    font-size: 20px;
    padding: 5px 13px 5px 13px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
}


.createEventText{
    font-size: 35px;
    color: blue;
}

.createButtonPrenote{
    background-color: blue;
    color:white;
    border-radius: 13px;
    font-size: 20px;
    padding: 5px 13px 5px 13px;
    width: 200px;
    margin: auto;
    margin-top: 10px;
}
.createNumberText{
    color: blue;
     font-size: 25px;
}
.createNumberTextMax{
    color: blue;    
     font-size: 25px;
}