<!DOCTYPE html>

<html lang="it">

	<head>
		
		<title>Login</title>
		<link rel="stylesheet" href="../style/style.css" />
		
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>

	<body>
		<div class="header">
			<span><img src="../style/img/grok-seeklogo.png" alt="Logo" class="logoImg"></span>
            <a class="titolo" href="./main.html">FORMATION NETWORK</a>
		</div>
		<div class="layout">
                  <div class="createEventText">Creare evento</div>
		      
                  <div class="accountName">
            	      <span class="accountNameText">Evento di nome:</span>
            	      <span class="accountNameInput"><Textarea></Textarea></span>
                  </div>

			<div class="accountPassword">
            	      <span class="accountPasswordText">Data:</span>
            	      <span class="accountPasswordInput"><Textarea></Textarea></span>
			</div>

			<div class="accountPassword">
            	      <span class="accountPasswordText">Numero di posti:</span>
            	      <span class="accountPasswordInput"><Textarea></Textarea></span>
			</div>

                  <div class="accountPassword">
            	      <span class="accountPasswordText">Descrizione:</span>
            	      <span class="accountPasswordInput"><Textarea></Textarea></span>
			</div>




            <div class="loginButtonLog">Crea</div>

	</body>
</html>