<!DOCTYPE html>

<html lang="it">

	<head>
		
		<title>CreareEvento</title>
		<link rel="stylesheet" href="../style/style.css" />
		
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>

	<body>
		<div class="header">
            <div>FORMATION NETWORK</div>
            <div>Account/Login</div>
		</div>
		<div class="layout">
            <div class="titolo">Creare evento</div>

            <div class="eventoName">Evento di nome:</div>
            <div class="eventoNameInput"><Textarea></Textarea></div>
            
            <div class="eventoData">Data:</div>
            <div class="eventoDataInput"><Textarea></Textarea></div>

            <div class="eventoPosti">Numero di posti:</div>
            <div class="eventoPostiInput"><Textarea></Textarea></div>

            <div class="eventoDescrizione">Descrizione:</div>
            <div class="eventoDescrizioneInput"><Textarea></Textarea></div>

            <div class="buttonCreare">Creare</div>
		</div>	
	</body>
</html>