<!DOCTYPE html>

<html lang="it">

	<head>
		
		<title>Login</title>
		<link rel="stylesheet" href="../style/style.css" />
		
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>

	<body>
		<div class="header">
            <div>FORMATION NETWORK</div>
            <div>Account/Login</div>
		</div>
		<div class="layout">
            <div class="accountName">Utente:</div>
            <div class="accountNameInput"><Textarea></Textarea></div>
            
            <div class="accountPassword">Password:</div>
            <div class="accountPasswordInput"><Textarea></Textarea></div>

            <div class="buttonLogin">Login</div>

            <div class="buttonRegistration">Regisrtazione</div>
		</div>	
	</body>
</html>