<!DOCTYPE html>

<html lang="it">

	<head>
		
		<title>Login</title>
		<link rel="stylesheet" href="../style/style.css" />
		
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>

	<body>
		<div class="header">
			<span><img src="../style/img/grok-seeklogo.png" alt="Logo" class="logoImg"></span>
            <a class="titolo" href="./main.html">FORMATION NETWORK</a>
		</div>
		<div class="layout">
			<div class="accountName">
            	<span class="accountNameText">Utente:</span>
            	<span class="accountNameInput"><input></span>
            </div>

			<div class="accountPassword">
            	<span class="accountPasswordText">Password:</span>
            	<span class="accountPasswordInput"><input></span>
			</div>
            <div class="loginButtonLog">Login</div>

			<hr class="line">
			
            <div><a href="./registrazione.html" class="loginButtonReg">Regisrtazione</a></div>
		</div>	
	</body>
</html>