<!DOCTYPE html>

<html lang="it">

	<head>
		
		<title>Login</title>
		<link rel="stylesheet" href="../style/style.css" />
		
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>

	<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div class="header">
        <span><img src="../style/img/grok-seeklogo.png" alt="Logo" class="logoImg"></span>
        <a class="titolo" href="./main.html">FORMATION NETWORK</a>
    </div>

    <form action="../../Presenter/login.php" method="post" class="layout">
        <div class="accountName">
            <span class="accountNameText">Utente:</span>
            <span class="accountNameInput"><input type="text" name="username"></span>
        </div>

        <div class="accountPassword">
            <span class="accountPasswordText">Password:</span>
            <span class="accountPasswordInput"><input type="password" name="password"></span>
        </div>

        <div>
            <input type="submit" class="loginButtonLog" value="Login">
        </div>

        <hr class="line">

        <div><a href="./registrazione.html" class="loginButtonReg">Registrazione</a></div>
    </form>
</body>
</html>