<!DOCTYPE html>

<html lang="it">

	<head>
		
		<title>Main</title>
		<link rel="stylesheet" href="../style/style.css" />
		
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>

	<body>
		<div class="header">
			<span>Logo</span>
            <span class="titolo">FORMATION NETWORK</span>
            <span class="login"><button class="loginButton">LOGIN</button></span>
			<span class="create"><button class="createButton">Creare evento</button></span>
		</div>
		<div class="layout">
            <div class="searchInput"><Textarea></Textarea></div>
            <div class="listTags">
                <span><button class="tagButton">#IT</button></span>
				<span><button class="tagButton">#CT</button></span>
				<span><button class="tagButton">#DT</button></span>
				<span><button class="tagButton">#IT</button></span>
				<span><button class="tagButton">#CT</button></span>
				<span><button class="tagButton">#DT</button></span>
				<span><button class="tagButton">#IT</button></span>
				<span><button class="tagButton">#CT</button></span>
				<span><button class="tagButton">#DT</button></span>
				<span><button class="tagButton">#IT</button></span>
				<span><button class="tagButton">#CT</button></span>
				<span><button class="tagButton">#DT</button></span>
				<span><button class="tagButton">#IT</button></span>
				<span><button class="tagButton">#CT</button></span>
				<span><button class="tagButton">#DT</button></span>	
            </div>
            
            <div class="listEvents">
                <div class="event">
					<div class="eventName">Evento nome:</div>
					<div class="eventDescription">ply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuri</div>
					<div class="eventDate">Data: xx/xx/2025</div>
					<div class="eventNumberMax">Posti rimasti: 55/200</div>
					<div class="eventFooter">
						<span class="eventTagsZone">
							<span class="eventTagsZoneText">Tags:</span>
							<span class="eventTagsZoneTag">#IT</span>
							<span class="eventTagsZoneTag">#IT#IT</span>
							<span class="eventTagsZoneTag">#IT#IT#IT</span>
							<span class="eventTagsZoneTag">#IT#IT</span>
							<span class="eventTagsZoneTag">#IT#IT#IT</span>
						</span>
						<span class="eventPrenote"><button class="eventPrenoteButton">Prenotare</button></span>
					</div>
				</div>
            </div>

		</div>	
	</body>
</html>