<!DOCTYPE html>

<html lang="it">

	<head>
		
		<title>Main</title>
		<link rel="stylesheet" href="../style/style.css" />
		
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>

	<body>
		<div class="header">
            <div>FORMATION NETWORK</div>
            <div>Account/Login</div>
            <div>Creare Evento</div>
		</div>
		<div class="layout">
            <div class="search">Search:</div>
            <div class="searchInput"><Textarea></Textarea></div>
            <div class="listTags">Tags:
                
            </div>
            
            <div class="listEvents">Eventi:
                <!--Event-->
            </div>

		</div>	
	</body>
</html>