<!DOCTYPE html>

<html lang="it">

	<head>
		
		<title>Regisrtazione</title>
		<link rel="stylesheet" href="../style/style.css" />
		
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>

<body>
    <div class="header">
        <span><img src="../style/img/grok-seeklogo.png" alt="Logo" class="logoImg"></span>
        <a class="titolo" href="./main.html">FORMATION NETWORK</a>
    </div>

    <form action="../../Presenter/register_user.php" method="post" class="layout">
        <div class="accountName">
            <span class="accountNameText">Utente:</span>
            <span class="accountNameInput"><input type="text" name="username"></span>
        </div>

        <div class="accountPassword">
            <span class="accountPasswordText">Password:</span>
            <span class="accountPasswordInput"><input type="password" name="password"></span>
        </div>

        <div class="accountRole">
            <span class="accountRoleText">Ruolo:</span>
            <span class="accountRoleInput">
                <input type="radio" name="role" value="scolastico" id="sco" class="radio"><label for="sco" class="accountRoleSco">Scolastico</label>
                <input type="radio" name="role" value="universitario" id="uni" class="radio"><label for="uni" class="accountRoleUni">Universitario</label>
            </span>
        </div>

        <div class="accountEmail">
            <span class="accountEmailText">Email:</span>
            <span class="accountEmailInput"><input type="email" name="email"></span>
        </div>

        <div>
            <input type="submit" class="loginButtonCreate" value="Crea account">
        </div>
    </form>
</body>
</html>