<!DOCTYPE html>

<html lang="it">

	<head>
		
		<title>Richiesta</title>
		<link rel="stylesheet" href="../style/style.css" />
		
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>

	<body>
		<div class="header">
            <div>FORMATION NETWORK</div>
            <div>Account/Login</div>
		</div>
		<div class="layout">
            <div class="titolo">Prenotazione</div>

            <div class="eventoCorto">Evento di nome:</div>

            
            <div class="eventoNumeroPrenotare">Numero di studenti per la prenotazione:</div>
            <div class="eventoDescrizioneInput"><Textarea></Textarea></div>
            <div class="eventoNumeroMax"></div>

            <div class="buttonReserve">Prenotare</div>
		</div>	
	</body>
</html>